body{
    user-select: none;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alert{
    min-height: 3rem;
}
#input{
    border-radius: 50px 0 0 50px;
}
#btn{
    border-radius: 0 50px 50px 0;
}
.enter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px ridge rgb(180, 168, 168);
}
.eachList{
    align-items: center;
    width: 250px;
    background-color: #d5d6d6;
    min-height: 50px;
    line-height: 20px;
}
.eachList:nth-child(2n){
    background-color: #c5c8c9;
}
#edit , #remove{
    text-align: center;
    cursor: pointer;
}
#edit:active , #remove:active{
    color: white;
}
#edit{
    color: rgb(140, 216, 25);
}
#remove{
    color: rgb(241, 48, 48);
}